# After fill rename to ".env"

# AI's (for python-ai)
IMAGE_GENERATOR_API_KEY=
GEMINI_API_KEY=

# Image CDN key (for go-api and image-cdn). A reliable key, you come up with yourself.
IMAGE_CDN_API_KEY=

# GRPC (for python-ai and go-api)
GRPC_SECRET_TOKEN=
GRPC_HOST=python-ai:50051
GRPC_PORT=50051

# Postgres data (for postgres and go-api)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=taprams-postgres:5432

# For go-api. A reliable key, you come up with yourself.
HMAC=EXAMPLEHMAC123
# For production: https://taprams.ru/cdn
IMAGE_CDN_OPEN_API=http://localhost/cdn
IMAGE_CDN_INTERNAL_API=http://taprams-cdn:8080

# For go-static-server
# with /api
# For production: "https://taprams.ru/api"
API_URL=http://localhost:8082/api
# ws or wss (wss need if use ssl)
# For production: "wss"
WEBSOCKET_PROTOCOL=ws
