.loginTabDefaultUnderline {
    border-bottom: var(--bs-nav-underline-border-width) solid rgba(255, 255, 255, 0.18);
}

.loginError {
    padding-left: 1rem;
    text-align: right;
}

.loginContainer {
    width: 85vw;
    max-width: 400px;
}

.loginContainer {
    margin-bottom: 20vh;
    margin-top: 14vh;
}

.loginText {
    margin: 3rem 2rem 1vh;
}

@media (max-width: 400px) {
    .loginText {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

@media (max-width: 280px) {
    .loginText {
        font-size: 17px;
        margin-bottom: 1vh!important;
    }
}

.button-login {
    max-height: 3rem;
    background: none;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.5rem 1.5rem 0.8rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    border: 1px solid rgba(255,255,255,0.2);
}

.button-login:hover:not(:disabled) {
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.3);
    text-shadow: gray 2px 0 20px;
}

.login-input {
    width: 100%;
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    font-weight: 400;
}