.rams-list {
    margin-top: 2rem;
    column-gap: 20px;
    row-gap: 15px;
}

@media (max-width: 1000px) {
    .rams-list {
        margin-top: 1rem;
    }
}

@media (max-width: 767px) {
    .rams-list {
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .ram-card {
        height: 200px;
        width: 160px;
        border-radius: 0.3rem;
    }

    .ram-card-image {
        border-radius: 0.3rem;
        max-width: 85%;
        margin-bottom: 0.7rem;
    }
}

@media (max-width: 399px) {
    .ram-card {
        padding: 0.1rem;
        height: 120px;
        width: 80px;
    }
}

.user-card {
    display: flex;
    flex-direction: column;
}

.button-user {
    background: none;
    text-shadow: white 2px 0 20px;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem 0.8rem 1.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}

.button-user:disabled {
    background: none;
    text-shadow: none;
    color: gray;
    border: 1px solid rgba(255, 255, 255, 0.14);
    cursor: unset;
}

.button-user:disabled img {
    opacity: 0.2;
}

.button-user:hover:not(:disabled) {
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.3);
    text-shadow: gray 2px 0 20px;
}

.left-button-user {
    padding: 0.25rem 0.75rem 0.4rem 0.75rem;
    font-size: 1.25rem;
    max-width: 300px;
}

.user-card-profile {
    display: flex;
    flex-direction: column;
}

.user-card-avatar {
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    aspect-ratio: 1;
    background-repeat: no-repeat;
    overflow: hidden;
    display: inline-block;
    border-radius: 0.4rem;
}

.user-card-username {
    margin-bottom: 0;
    text-align: center;
    margin-top: 5px;
}

@media (min-width: 768px) {
    .top-to-center {
        margin-top: 30vh
    }

    .user-card {
        padding: 1.5rem;
        border-right: 1px solid rgba(255,255,255,0.3);
    }

    .user-card-avatar {
        margin-left: 10%;
        margin-top: 10%;
        width: 80%;
    }

    .last-button-user {
        margin-top: 10vh;
    }

    .first-button-user {
        margin-top: 7vh;
    }

    .left-button-user {
        max-width: unset;
    }

    .user-buttons-normal {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
    }

    .user-buttons-mobile {
        display: none!important;
    }

    .rams-list {
        margin-left: 2rem;
    }
}

@media (max-width: 399px) {
    .left-button-user {
        padding: 0.2rem 0.6rem 0.3rem 0.6rem;
        font-size: 1rem;
        max-width: 200px;
    }
}

@media (min-width: 1000px) {
    .user-card {
        padding: 2rem 3rem;
    }
}

@media (max-width: 767px) {
    .top-to-center {
        margin-top: 20vh
    }

    .user-card {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    .user-card-profile {
        margin-left: 5%;
        width: 25vw;
    }

    .user-card-avatar {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .user-buttons-normal {
        display: none!important;
    }

    .user-buttons-mobile {
        align-self: end;
        width: 35vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 1rem;
        gap: 1rem;
    }

    .button-create-mobile {
        grid-column: 1 / -1;
    }

    .left-button-user-mobile {
        font-size: 1.25rem;
        margin-top: 0;
        height: 60px;
        display: block;
        padding: 0;
    }

    .mobile-userinfo-icon {
        width: 1.7em;
        height: 1.7em;
        margin-left: 0.3em;
    }
}

@media (max-width: 649px) {
    .user-buttons-mobile {
        gap: 0.5rem;
    }

    .left-button-user-mobile {
        font-size: 1rem;
        height: 45px;
    }
}

@media (max-width: 499px) {
    .user-card-username {
        font-size: 1.2rem;
    }

    .left-button-user-mobile {
        font-size: 0.8rem;
    }
}

@media (max-width: 430px) {
    .left-button-user-mobile {
        font-size: 0.65rem;
        height: 40px;
    }
}

@media (max-width: 349px) {
    .left-button-user-mobile {
        font-size: 0.5rem;
        height: 30px;
    }
}

.min70height {
    min-height: 70vh;
}

.prompt-input {
    margin-top: 5%;
    padding: 0.5rem;
}

.prompt-label {
    font-size: 1.5rem;
}

.prompt-label, .popup-error {
    margin-top: 20%;
}

@media (min-width: 1400px) {
    .ram-error {
        position: relative;
        top: 20%;
    }
}

.tap-label {
    margin-top: 60px;
    width: 90%;
    margin-left: 5%;
}

.tap-generate-img {
    max-width: 80%;
    width: 80%;
}


@media (min-width: 600px) {
    .tap-generate-img {
        height: 50%;
        width: auto;
    }
}

.settings-title {
    margin-bottom: 3rem;
}

.settings-input {
    padding: 4px 10px;
}

.settings-hr {
    opacity: 0.2;
}

.settings-button {
    font-size: 16px;
    font-weight: 400;
    padding: 8px 10px 8px 16px;
}

.settings-label {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ram-canvas {
    display: inline-block;
    width: 100%;
    height: 100%;
}