.user-popup {
    position: fixed;
    inset: 0;
    display: none;
    background: rgba(0, 0, 0, 0.38);
    align-items: center;
    justify-content: center;
}

.user-popup:target {
    display: flex;
}

.popup-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1.5rem;
    position: relative;
    height: 60vh;
    width: 30vw;
    background-image: url("../img/background.jpg");
    background-size: 100vw;
    border-radius: 1.5rem;
}

@media (max-width: 1400px) {
    .popup-menu {
        top: 10vh;
        height: 90vh;
        width: 95vw;
    }
}

.rams-list {
    margin-top: 2rem;
    column-gap: 20px;
    row-gap: 15px;
}

@media (max-width: 1000px) {
    .rams-list {
        margin-top: 1rem;
    }
}

@media (min-width: 600px) {
    .rams-list {
        margin-left: 2rem;
    }
}

.ram-card {
    cursor: pointer;
    border-radius: 0.8rem;
    padding: 1rem;
    height: 320px;
    width: 280px;
    background-color: rgb(44 44 44 / 16%);
    text-align: center;

}

.ram-card-image {
    border-radius: 1rem;
    max-height: 80%;
    max-width: 80%;
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .ram-card {
        height: 200px;
        width: 160px;
    }
    .ram-card-description {
        font-size: 0.9rem;
    }
}

@media (max-width: 399px) {
    .ram-card {
        padding: 0.1rem;
        height: 120px;
        width: 80px;
    }
    .ram-card-description {
        font-size: 0.6rem;
    }
}

.user-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.button-user {
    background: none;
    text-shadow: white 2px 0 20px;
    margin-top: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem 0.8rem 1.5rem;
    display: inline-flex;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
}

.button-user:disabled {
    background: none;
    text-shadow: none;
    color: gray;
    border: 1px solid rgba(255, 255, 255, 0.14);
    cursor: unset;
}

.button-user:hover:not(:disabled) {
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.3);
    text-shadow: gray 2px 0 20px;
}

.left-button-user {
    padding: 0.25rem 0.75rem 0.4rem 0.75rem;
    font-size: 1.25rem;
}

.first-button-user {
    margin-top: 7vh;
}

.last-button-user {
    margin-top: 10vh;
}

.user-card-avatar {
    height: 0;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 0.4rem;
}

@media (min-width: 768px) {
    .top-to-center {
        margin-top: 30vh
    }

    .user-card {
        padding: 1rem;
        border-right: 1px solid rgba(255,255,255,0.3);
    }

    .user-card-avatar {
        margin-left: 10%;
        margin-top: 10%;
        width: 80%;
        padding-bottom: 80%;
    }

    .user-card-username {
        text-align: center;
    }
}

@media (min-width: 1000px) {
    .user-card {
        padding: 2rem 3rem;
    }
}

@media (max-width: 767px) {
    .top-to-center {
        margin-top: 20vh
    }

    .user-card {
        flex-direction: row;
        padding: 0.5rem;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }

    .user-card-avatar {
        margin-left: 5%;
        width: 30%;
        padding-bottom: 30%;
    }

    .user-card-username {
        margin-left: 1rem;
    }
}

.min70height {
    min-height: 70vh;
}

.prompt-input {
    margin-top: 5%;
    padding: 0.5rem;
}

.prompt-label {
    font-size: 1.5rem;
}

.prompt-label, .popup-error {
    margin-top: 20%;
}

@media (min-width: 1400px) {
    .ram-error {
        position: relative;
        top: 20%;
    }
}

.tap-label {
    margin-top: 60px;
    width: 90%;
    margin-left: 5%;
}

.tap-generate-img {
    max-width: 80%;
    width: 80%;
}

.ram-image {
    max-width: 80%;
    width: 80%;
    border-radius: 0.5rem;
}

.cursor-pointer {
    cursor: pointer;
}

@media (min-width: 600px) {
    .tap-generate-img {
        height: 50%;
        width: auto;
    }

    .ram-image {
        height: 45%;
        width: auto;
    }
}

@media (min-width: 1400px) {
    .ram-image {
        height: 70%;
        width: auto;
    }
}

.wait-ram {
    width: 150px;
    height: 150px;
}
