{{ define "content" }}
<link href="static/styles/login.css" rel="stylesheet" crossorigin="anonymous">
<script src="static/js/login.js" defer></script>

<div class="loginContainer container">
    <h3 class="loginText text-center">Чтобы продолжить, необходимо войти в аккаунт</h3>
    <ul class="nav nav-underline nav-justified text-white navbar-nav d-flex flex-row loginTabs mb-3" id="loginTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="loginTabDefaultUnderline nav-link btn-secondary active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" role="tab" aria-controls="login" aria-selected="true">Войти</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="loginTabDefaultUnderline nav-link btn-secondary" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" role="tab" aria-controls="register" aria-selected="false">Зарегистрироваться</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form id="loginForm">
                <input type="text" placeholder="Имя пользователя" class="login-input" id="loginUsername" name="username" autocomplete="username">

                <input type="password" placeholder="Пароль" class="login-input" id="loginPassword" name="password" autocomplete="current-password">

                <div class="d-inline-flex mt-4 w-100 justify-content-between">
                    <input id="loginButton" type="submit" class="button-login" value="Войти">
                    <div id="loginError" class="loginError text-danger "></div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form id="registerForm">
                <input type="text" placeholder="Имя пользователя" class="login-input" id="registerUsername" name="username">

                <input type="password" placeholder="Пароль" class="login-input" id="registerPassword" name="password" autocomplete="username">
                <input type="password" placeholder="Повторите пароль" class="login-input" id="registerPasswordRepeat" name="password repeat" autocomplete="new-password">
                <div class="d-inline-flex mt-4">
                    <input id="registerButton" type="submit" class="button-login" value="Зарегистрироваться">
                    <div id="registerError" class="loginError text-danger"></div>
                </div>
            </form>
        </div>
    </div>
</div>
{{ end }}