{{ define "body" }}

{{ template "header" . }}

<section class="m-0 overflow-hidden">
    <link href="static/styles/user.css" rel="stylesheet" crossorigin="anonymous">

    <script src="static/js/user.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/konva/8.3.2/konva.min.js"></script>
    <script defer src="static/js/user-avatar.js"></script>


    <div id="generate-ram" class="small-popup">
        <div class="popup-menu"></div>
    </div>
    <div id="settings" class="small-popup">
        <div class="popup-menu">
            <h3 class="text-center settings-title">Настройки аккаунта</h3>
            <div>
                <form id="changeUsernameForm">
                    <label for="settings-username" class="settings-label">Новое имя пользователя: </label>
                    <input class="settings-input" id="settings-username" type="text" name="username" placeholder="" autocomplete="username" maxlength="24">
                    <script>document.getElementById("settings-username").placeholder = userInfoUsername</script>
                    <br>
                    <div id="username-message"></div>
                    <button class="button-user settings-button mb-2">
                        Сохранить
                        <svg style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg></button>
                </form>
                <hr class="settings-hr">
                <form id="changePasswordForm">
                    <input class="d-none" id="settings-hidden-username" type="text" autocomplete="username" name="username" maxlength="24">
                    <script>
                        if (user) {
                            document.getElementById("settings-hidden-username").value = user.username
                        }
                    </script>
                    <label for="settings-password" class="settings-label"> Новый пароль: </label>
                    <input class="settings-input" id="settings-password" type="password" autocomplete="new-password" name="new-password">
                    <br>
                    <label for="settings-password-repeat" class="settings-label">Повторите пароль: </label>
                    <input class="settings-input" id="settings-password-repeat" type="password" autocomplete="new-password" name="new-password-repeat">
                    <br>
                    <div id="password-message"></div>
                    <button class="button-user settings-button">
                        Сохранить
                        <svg style="margin-left: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                        </svg></button>
                </form>
                <script>bindSettingsForms()</script>
            </div>
            <button id="close-button" style="right:1.5rem" class="up-button" onclick="closePopup()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="white" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                </svg>
            </button>
        </div>
    </div>
    <div id="ram" class="small-popup">
        <div class="popup-menu">
        </div>
    </div>
    <script>
        bindPopups()
        checkHash()
    </script>

    <div class="width-control user-section row m-lg-5" id="user-section">
        <div class="col-md-3 user-card" id="user-card">
            <script>displayUserInfo()</script>
        </div>
        <div class="col-md-9 min70height">
            <div id="rams">
                <script>displayUserRams()</script>
            </div>
        </div>
    </div>
</section>

{{ end }}
